<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
    <h1>Create Student</h1>
    <p>
        <a href="/students">List Student</a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <th:block th:if="${errormessage}">
        <p th:text="${errormessage}"></p>
    </th:block>

    <form th:action="@{/create-student}" method="post" th:object="${student}">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
                <tr>
                    <td>Image</td>
                    <td><input type="text" th:field="*{image}"></td>
                </tr>
            <tr>
                <td>Birthday</td>
                <td><input type="text" th:field="*{birthday}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create Student"></td>
            </tr>
            <tr>
                <td>Class:</td>
                <td>
                    <select th:field="*{classes}">
                        <option th:each="c : ${classes}" th:value="${c.id}" th:text="${c.name}"></option>
                    </select>
                </td>
            </tr>
        </table>

    </form>
</body>
</html>