<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
    <h1>Edit student</h1>
    <p>
        <a href="/students">List Student</a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <th:block th:if="${errormessage}">
        <p th:text="${errormessage}"></p>
    </th:block>
    <form th:action="@{/edit-student}" th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Birthday</td>
                <td><input type="text" th:field="*{birthday}"></td>
            </tr>
            <tr>
                <td>Image</td>
                <td><input type="text" th:field="*{image}"></td>
            </tr>
            <tr>
                <td>Class:</td>
                <td>
                    <select name="classes">
                        <option th:each="p : ${classes}" th:value="${p.id}" th:text="${p.name}" th:selected="(${p.id} ==*{classes.id})"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Edit student"></td>
            </tr>

        </table>
    </form>
</body>
</html>